In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import statsmodels.api as sm
from patsy import dmatrices
from statsmodels.stats.outliers_influence import variance_inflation_factor
import pickle

In [4]:
blsdf = pd.read_csv('BLS_2017_unemployment.csv', header = [1])

In [5]:
blsdf.head()

,FIPS,Civilian_labor_force_2017,Employed_2017,Unemployed_2017,Unemployment_rate_2017,Median_Household_Income_2017,Med_HH_Income_Percent_of_State_Total_2017
0,1000,2178243.0,2081676.0,96567.0,4.4,"$48,193",100.0
1,1001,25972.0,24958.0,1014.0,3.9,"$58,343",121.1
2,1003,92090.0,88342.0,3748.0,4.1,"$56,607",117.5
3,1005,8317.0,7831.0,486.0,5.8,"$32,490",67.4
4,1007,8550.0,8174.0,376.0,4.4,"$45,795",95.0

In [6]:
blsdf = blsdf[['FIPS', 'Unemployment_rate_2017', 'Median_Household_Income_2017']]

In [7]:
blsdf = blsdf.rename(columns = {'FIPS': 'County_code'})

In [9]:
blsdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3274 entries, 0 to 3273
Data columns (total 3 columns):
County_code                     3274 non-null int64
Unemployment_rate_2017          3271 non-null float64
Median_Household_Income_2017    3192 non-null object
dtypes: float64(1), int64(1), object(1)
memory usage: 76.9+ KB

In [12]:
blsdf['Median_Household_Income_2017'] = blsdf['Median_Household_Income_2017'].str.replace(',', '')

In [13]:
blsdf['Median_Household_Income_2017'] = blsdf['Median_Household_Income_2017'].str.replace('$', '')

In [14]:
blsdf['Median_Household_Income_2017'] = pd.to_numeric(blsdf['Median_Household_Income_2017'])

In [15]:
blsdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3274 entries, 0 to 3273
Data columns (total 3 columns):
County_code                     3274 non-null int64
Unemployment_rate_2017          3271 non-null float64
Median_Household_Income_2017    3192 non-null float64
dtypes: float64(2), int64(1)
memory usage: 76.9 KB

In [16]:
blsdf = blsdf.rename(columns = {'Median_Household_Income_2017': 'med_house_income'})

In [17]:
blsdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3274 entries, 0 to 3273
Data columns (total 3 columns):
County_code               3274 non-null int64
Unemployment_rate_2017    3271 non-null float64
med_house_income          3192 non-null float64
dtypes: float64(2), int64(1)
memory usage: 76.9 KB

In [18]:
with open('blsdf.pickle', 'wb') as to_write:
    pickle.dump(blsdf, to_write)