https://www.countyhealthrankings.org/explore-health-rankings/rankings-data-documentation - looks like same as CDC wonder. Other stuff worth looking at

In [680]:
import pandas as pd
import numpy as np
import seaborn as sns
import statsmodels.api as sm
from patsy import dmatrices
from statsmodels.stats.outliers_influence import variance_inflation_factor
import pickle


from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler, PolynomialFeatures

In [161]:
with open('suicide1.pickle', 'rb') as read_file:
    main = pickle.load(read_file)

In [162]:
with open('areasdf.pickle', 'rb') as read_file:
    areasdf = pickle.load(read_file)

In [163]:
with open('fbidf.pickle', 'rb') as read_file:
    fbidf = pickle.load(read_file)

In [164]:
with open('epi_first_draft.pickle', 'rb') as read_file:
    epidf = pickle.load(read_file)

In [165]:
with open('blsdf.pickle', 'rb') as read_file:
    blsdf = pickle.load(read_file)

In [207]:
df1 = pd.merge(main, areasdf, on = 'County_code')

In [208]:
df2 = pd.merge(df1, epidf, on = 'County_code')

In [209]:
df3 = pd.merge(df2, fbidf, on = 'County_code')

In [210]:
df4 = pd.merge(df3, blsdf, on = 'County_code')

In [211]:
df = df4.copy()

In [212]:
df = df.rename(columns = {'Total\nofficers': 'Total_officers'})

In [213]:
df['Total_officers'] = df['Total_officers'].str.replace(',', '')

In [214]:
df['Total_officers'] = pd.to_numeric(df['Total_officers'])

In [215]:
df['cost'] = df['cost'].str.replace(',', '')

In [216]:
df['cost'] = df['cost'].str.replace('$', '')

In [217]:
df['cost'] = pd.to_numeric(df['cost'])

In [218]:
df.head()

,County_x,County_code,rate,State_x,% Fair/Poor Health,% LBW,% Smokers,% Obese,Food Environment Index,% Physically Inactive,...,Average Daily PM2.5,% Severe Housing Problems,% Long Commute - Drives Alone,% With Access eng 1,Area in square miles - Land area,cost,area,Total_officers,Unemployment_rate_2017,med_house_income
0,Baldwin,1003.0,17.0,AL,18,8.0,17,31,8.0,24,...,10.3,14,41,26873856.0,1596.35,84406,"Baldwin County, AL",102,4.1,56607.0
1,Calhoun,1015.0,24.6,AL,20,9.0,20,37,6.9,30,...,11.8,15,31,4100625.0,608.46,73635,"Calhoun County, AL",53,5.0,45937.0
2,Calhoun,1015.0,24.6,AL,20,9.0,20,37,6.9,30,...,11.8,15,31,4100625.0,608.46,73635,"Calhoun County, AL",53,5.0,45937.0
3,Calhoun,1015.0,24.6,AL,20,9.0,20,37,6.9,30,...,11.8,15,31,4100625.0,608.46,73635,"Calhoun County, AL",53,5.0,45937.0
4,Cullman,1043.0,24.7,AL,21,8.0,20,35,8.3,33,...,11.6,14,35,4477456.0,738.43,69225,"Cullman County, AL",77,3.8,45925.0

In [219]:
df.columns

Index(['County_x', 'County_code', 'rate', 'State_x', '% Fair/Poor Health',
       '% LBW', '% Smokers', '% Obese', 'Food Environment Index',
       '% Physically Inactive', '% Excessive Drinking',
       '% driving deaths Alcohol-Impaired ', 'Teen Birth Rate', '% Uninsured',
       'PCP Ratio', 'Dentist Ratio', 'MHP Ratio', 'Preventable Hosp. Rate',
       'Graduation Rate', '% Some College', '% Unemployed',
       '% Children in Poverty', 'Income Ratio inequality',
       '% Single-Parent Households', 'Association Rate', 'Violent Crime Rate',
       'Average Daily PM2.5', '% Severe Housing Problems',
       '% Long Commute - Drives Alone', '% With Access eng 1',
       'Area in square miles - Land area', 'cost', 'area', 'Total_officers',
       'Unemployment_rate_2017', 'med_house_income'],
      dtype='object')

In [907]:
df = df.rename(columns = 
               {'Total\nofficers': 'Total_officers', 
                'Area in square miles - Land area': "Land area",
                '% With Access eng 1': '% With Access' })


df['officers_per_area'] = df['Total_officers'] / df['Land area']
df['pcp_per_area'] = df['PCP Ratio'] / df['Land area']
df['mhp_per_area'] = df['MHP Ratio'] / df['Land area']
df['income_ratio'] = df['cost'] / df['med_house_income']

In [908]:
df['care_profs_per_area'] = df['pcp_per_area'] + df['mhp_per_area']

In [909]:
df['Care Prof Ratio'] = df['PCP Ratio'] + df['MHP Ratio']

In [910]:
df['log_rate'] = np.log(df['rate'])

In [911]:
df

,County_x,County_code,rate,State_x,% Fair/Poor Health,% LBW,% Smokers,% Obese,Food Environment Index,% Physically Inactive,...,Total_officers,Unemployment_rate_2017,med_house_income,officers_per_area,pcp_per_area,mhp_per_area,income_ratio,care_profs_per_area,Care Prof Ratio,log_rate
0,Baldwin,1003.0,17.0,AL,18,8.0,17,31,8.0,24,...,102,4.1,56607.0,0.063896,0.859461,0.686566,1.491088,1.546027,2468.0,2.833213
1,Calhoun,1015.0,24.6,AL,20,9.0,20,37,6.9,30,...,53,5.0,45937.0,0.087105,2.545771,1.668146,1.602956,4.213917,2564.0,3.202746
2,Calhoun,1015.0,24.6,AL,20,9.0,20,37,6.9,30,...,53,5.0,45937.0,0.087105,2.545771,1.668146,1.602956,4.213917,2564.0,3.202746
3,Calhoun,1015.0,24.6,AL,20,9.0,20,37,6.9,30,...,53,5.0,45937.0,0.087105,2.545771,1.668146,1.602956,4.213917,2564.0,3.202746
4,Cullman,1043.0,24.7,AL,21,8.0,20,35,8.3,33,...,77,3.8,45925.0,0.104275,2.326558,1.132132,1.507349,3.458689,2554.0,3.206803
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300,Milwaukee,55079.0,16.0,WI,19,10.0,18,34,7.5,22,...,369,4.0,47795.0,1.527571,5.683888,1.515152,1.680448,7.199040,1739.0,2.772589
301,Outagamie,55087.0,17.1,WI,11,7.0,15,29,8.9,16,...,82,3.0,65945.0,0.128057,1.883374,0.796452,1.238426,2.679826,1716.0,2.839078
302,Racine,55101.0,12.9,WI,14,8.0,16,33,8.0,21,...,136,4.0,61118.0,0.408286,6.166316,2.353648,1.322769,8.519964,2838.0,2.557227
303,Sheboygan,55117.0,17.6,WI,14,6.0,15,30,9.0,21,...,71,2.8,59231.0,0.138232,3.303935,1.411522,1.311712,4.715457,2422.0,2.867899
304,Laramie,56021.0,24.7,WY,15,10.0,19,31,7.8,23,...,54,3.7,61658.0,0.020104,0.500363,0.096424,1.425557,0.596787,1603.0,3.206803

In [912]:
df.columns

Index(['County_x', 'County_code', 'rate', 'State_x', '% Fair/Poor Health',
       '% LBW', '% Smokers', '% Obese', 'Food Environment Index',
       '% Physically Inactive', '% Excessive Drinking',
       '% driving deaths Alcohol-Impaired ', 'Teen Birth Rate', '% Uninsured',
       'PCP Ratio', 'Dentist Ratio', 'MHP Ratio', 'Preventable Hosp. Rate',
       'Graduation Rate', '% Some College', '% Unemployed',
       '% Children in Poverty', 'Income Ratio inequality',
       '% Single-Parent Households', 'Association Rate', 'Violent Crime Rate',
       'Average Daily PM2.5', '% Severe Housing Problems',
       '% Long Commute - Drives Alone', '% With Access', 'Land area', 'cost',
       'area', 'Total_officers', 'Unemployment_rate_2017', 'med_house_income',
       'officers_per_area', 'pcp_per_area', 'mhp_per_area', 'income_ratio',
       'care_profs_per_area', 'Care Prof Ratio', 'log_rate'],
      dtype='object')

In [918]:
cols_drop_for_sure = [
    'County_x', 'County_code', 'State_x', \
        '% LBW', '% Smokers', '% Excessive Drinking',\
        '% driving deaths Alcohol-Impaired ', \
        'Dentist Ratio', '% Unemployed', 'Income Ratio inequality',\
        '% Single-Parent Households', 'Violent Crime Rate',\
        'Average Daily PM2.5', \
        '% Long Commute - Drives Alone', 'Land area', 'cost',\
        'area', 'Total_officers', 'med_house_income', 'Preventable Hosp. Rate', \
        'Unemployment_rate_2017', \
        'MHP Ratio', \
        'PCP Ratio',\
        'pcp_per_area', \
        'mhp_per_area'\
                     ]

In [919]:
df_all_data = df.drop(cols_drop_for_sure, axis = 1)

In [920]:
df_all_data['care_profs_per_area'] = np.log(df_all_data['care_profs_per_area'])

In [928]:
df_all_data['officers_per_area'] = np.log(df_all_data['officers_per_area'])

In [929]:
with open('all_data_1.pickle', 'wb') as to_write:
    pickle.dump(df_all_data, to_write)

In [875]:
df_play = df[cols_for_OLS + cols_drop_maybe]

In [876]:
corr_df = df_play.corr()

In [877]:
corrdf = corr_df[abs(corr_df[:]) < 0.2]

In [878]:
dropcols = ['care_profs_per_area', '% Severe Housing Problems', '% With Access']

In [879]:
corrdf = corrdf.drop(dropcols)

In [880]:
corrdf

,officers_per_area,Food Environment Index,Teen Birth Rate,Graduation Rate,% Severe Housing Problems,% Fair/Poor Health,care_profs_per_area,% Uninsured,Graduation Rate,care_profs_per_area,% Some College,% With Access,Care Prof Ratio
officers_per_area,NaN,0.039035,-0.113371,-0.050228,NaN,-0.007747,NaN,0.117852,-0.050228,NaN,0.141758,NaN,-0.097943
Food Environment Index,0.039035,NaN,NaN,NaN,NaN,NaN,-0.012784,NaN,NaN,-0.012784,NaN,NaN,-0.141240
Teen Birth Rate,-0.113371,NaN,NaN,NaN,0.142828,NaN,0.031628,NaN,NaN,0.031628,NaN,NaN,NaN
Graduation Rate,-0.050228,NaN,NaN,NaN,NaN,-0.154217,0.068669,-0.105180,NaN,0.068669,NaN,-0.090561,0.043469
% Fair/Poor Health,-0.007747,NaN,NaN,-0.154217,NaN,NaN,0.037008,NaN,-0.154217,0.037008,NaN,NaN,NaN
% Uninsured,0.117852,NaN,NaN,-0.105180,NaN,NaN,0.072411,NaN,-0.105180,0.072411,NaN,NaN,NaN
Graduation Rate,-0.050228,NaN,NaN,NaN,NaN,-0.154217,0.068669,-0.105180,NaN,0.068669,NaN,-0.090561,0.043469
% Some College,0.141758,NaN,NaN,NaN,NaN,NaN,-0.049356,NaN,NaN,-0.049356,NaN,NaN,NaN
Care Prof Ratio,-0.097943,-0.141240,NaN,0.043469,-0.140552,NaN,NaN,NaN,0.043469,NaN,NaN,NaN,NaN

In [858]:
cols_drop_maybe = [
        '% Severe Housing Problems',
        '% Fair/Poor Health', 
        '% Uninsured',
        '% Some College', 
        '% With Access',
        'Care Prof Ratio'
        'Graduation Rate',
        'Graduation Rate',
        'care_profs_per_area',

]

In [886]:
cols_for_OLS = [
        'Teen Birth Rate',   
        'officers_per_area',
        'Food Environment Index',

                ]

In [887]:
df_OLS = df[cols_for_OLS]

In [888]:
# OLS without patsy

objectdroplist = ['State_x', 'County_code', 'County_x']




X = df_OLS
y = df.loc[:,"rate"].astype(float)


scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

model = sm.OLS(y, sm.add_constant(X), data=df)
results = model.fit() 
results.summary()

//anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   rate   R-squared:                       0.292
Model:                            OLS   Adj. R-squared:                  0.285
Method:                 Least Squares   F-statistic:                     41.37
Date:                Wed, 09 Oct 2019   Prob (F-statistic):           2.06e-22
Time:                        18:04:16   Log-Likelihood:                -957.71
No. Observations:                 305   AIC:                             1923.
Df Residuals:                     301   BIC:                             1938.
Df Model:                           3
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
const                     34.3030      3.860      8.887      0.000      26.707      41.899
Teen Birth Rate            0.0822      0.035      2.357      0.019       0.014       0.151
officers_per_area         -5.3088      0.740     -7.176      0.000      -6.765      -3.853
Food Environment Index    -2.2207      0.429     -5.178      0.000      -3.065      -1.377
==============================================================================
Omnibus:                       34.983   Durbin-Watson:                   1.446
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               53.153
Skew:                           0.723   Prob(JB):                     2.87e-12
Kurtosis:                       4.446   Cond. No.                         345.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [889]:
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif["features"] = X.columns

In [890]:
vif.round(1)

   VIF Factor                features
0         4.7         Teen Birth Rate
1         1.6       officers_per_area
2         5.4  Food Environment Index